section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: black;
    height: 100%;
}

/* .container{
    width: auto;
    height: auto;
    margin: 40px;
} */

.panel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.panel p{
    color: white;
    font-family: "League Spartan";
    font-weight: 200;
    font-size: 4rem;
    margin: 0;
    margin-bottom: -.5rem;
    padding: 0 15px 0 0;
}

.btn{
    color: white;
    border-radius: 50%;
    border-style: none;
    font-size: 18px;
    width: 55px;
    height: 55px;
    margin: 2px;
}

.btn.special{
    color: black;
    width: 55px;
    height: 55px;
    background-color: rgb(120, 120, 120);
}

.btn.special:hover{
    color: white;
    background-color: rgb(170, 170, 170);
}

.btn.operator{
    background-color: #fc8d0c;
}

.btn.operator:hover{
    background-color: #ffbf3e;
}

.btn.number, .btn.decimal{
    font-size: 1.25rem;
    background-color: rgb(38, 38, 38);
}

.btn.decimal{
    font-size: 2rem;
    padding-bottom: .5rem;
}

.btn.number:hover, .btn.decimal:hover{
    background-color: rgb(88, 88, 88);
}

#zero{
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 118px;
}

#zero p{
    padding-left: 18px;
    text-align: left;   
}

.modalBackground-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: white;
  }
  
  .modalContainer-dark {
    width: 80%;
    max-width: 600px;
    background: #121212;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
  }
  
  .modal-p{
    margin-bottom: 1rem;
  }

  .modal-plus{
    padding-top: .25rem;
    padding-left: .25rem;
    padding-right: .3rem;
    margin-left: .25rem;
    margin-right: .25rem;
    background-color: #fc8d0c;
    color: black;
    border-radius: 50px;
    font-weight: 500;
  }
